@model Informatico
@{
    ViewData["Title"] = "Silo Comunicaciones - Gestión Web";
}

<h2>Edición del elemento Informático: </h2> <h3>@Model.InformId</h3>

<form method="POST">
    <div class="form-group">
        <label asp-for="InformTipId" class="form-control">Tipo de Producto:</label>
        @Html.DropDownList("InformTipId", new SelectList(@ViewBag.InformTips, "Text", "Value"))
    </div>
    <div class="form-group">
        <label asp-for="InformDesc" class="form-control">Descripción:</label>
        <input type="text" asp-for="InformDesc" value="@Model.InformDesc">
    </div>
    <div class="form-group">
        <label asp-for="ProveedorId" class="form-control">Elije un Proveedor:</label>
        @Html.DropDownList("ProveedorId", new SelectList(@ViewBag.Proveedores, "Text", "Value"))
    </div>
    <div class="form-group">
        <label asp-for="BrandId" class="form-control">Elige una Brands:</label>
        @Html.DropDownList("BrandId", new SelectList(@ViewBag.Marcas, "Text", "Value"))
    </div>
    <input type="submit" value="Guardar" />
</form>